<%- include("student/partials/header") %> <%- include("student/partials/navbar")
%>
<p>Các ảnh được cung cấp bởi Freepik:</p>
<ul>
  <li>
    <a href="https://www.freepik.com/vectors/education"
      >Education vector created by stories - www.freepik.com</a
    >
  </li>
</ul>
<%- include("student/partials/footer") %>
