<%- include("partials/header", {title: "Đã kích hoạt tài khoản", css: []}) %> <%-include("partials/navbar") %>
<div class="container mt-3">
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <h5>Đã kích hoạt tài khoản</h5>
    </div>
  </div>
  <%- include("partials/footer") %>
</div>
