<%- include("partials/header", {title: "Đăng nhập", css: ["auth"]}) %> <%-include("partials/navbar") %>

<div class="container mt-5">
  <div class="card shadow-sm border-0">
    <div class="row">
      <div class="col-md-6 col-xs-12 d-flex align-items-center">
        <img class="w-100" src="assets/learning.svg" />
      </div>

      <div class="col-md-6 col-xs-12">
        <div id="auth-container" class="mx-auto">
          <div class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Đăng nhập</h4>
            <hr />
            <%- include('partials/messageAlert') %>
            <form class="form-group mt-4" method="POST" action="/signin">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Email"
                  class="form-control"
                  aria-describedby="helpId"
                />
              </div>
              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                  class="form-control"
                  aria-describedby="helpId"
                />
              </div>

              <button id="submit-btn" class="btn btn-primary mt-2">Đăng nhập</button>
            </form>

            <div class="or-container border-0">
              <div class="line-separator"></div>
              <div class="or-label">hoặc</div>
              <div class="line-separator"></div>
            </div>

            <div>
              <a class="btn btn-danger w-100 mb-2" href="/auth/google">
                <i class="fa fa-google mr-2"></i>
                <span>Đăng nhập với Google</span>
              </a>
              <a class="btn btn-primary w-100" href="/auth/facebook">
                <i class="fa fa-facebook mr-2"></i>
                <span>Đăng nhập với Facebook</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
