html,
body {
  background-color: #f7f7f7;
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

.carousel-item {
  height: 360px;
  height: 640px;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.fa-star.checked {
  color: #ffa500;
}
