<%- include("../partials/header", {title: "Kích hoạt tài khoản", css: []}) %> <%-include("../partials/navbar") %>

<div class="container mt-3">
  <div class="card">
    <div class="card-header">Cần xác nhận tài khoản</div>
    <div class="card-body">
      <p>
        Chỉ còn một bước để hoàn tất đăng ký.<br />Hãy truy cập vào tài khoản <a href="#"><%= currentUser.email %></a> và làm theo hướng dẫn để xác nhận đăng ký
      </p>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
