<%- include("../partials/header", {title: "Kích hoạt tài khoản", css: []}) %> <%-include("../partials/navbar") %>

<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-primary text-white">Cần kích hoạt tài khoản</div>
    <div class="card-body">
      <p>
        Chỉ còn một bước để hoàn tất đăng ký.<br />
        Hãy truy cập vào email <a href="#"><%= currentUser.email %></a> và làm theo hướng dẫn để kích hoạt tài khoản<br />
        Bạn sẽ không thể tham gia khóa học cho đến khi kích hoạt tài khoản.<br />
      </p>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
