<%- include("../partials/header", {title: "Kích hoạt tài khoản"}) %> <%-include("../partials/navbar") %>
<p>
  Chỉ còn một bước để hoàn tất đăng ký, hãy truy cập vào tài khoản
  <a href="#">minhtrieuvo600@gmail.com</a> và làm theo hướng dẫn để xác nhận đăng ký
</p>
<%- include("../partials/footer") %>
